examples/energy-overview-generator-example.json
[
    {
        "id": "generator-example-flow",
        "type": "tab",
        "label": "Energy Overview — Diesel Generator Example",
        "disabled": false,
        "info": "Demonstrates adding a custom Diesel Generator entity to the Energy Overview widget by supplying a customPaths JSON block with six entities (the five defaults plus a generator source)."
    },
    {
        "id": "generator-example-comment",
        "type": "comment",
        "z": "generator-example-flow",
        "name": "Diesel Generator Custom Entity Example",
        "info": "This flow demonstrates how to add a custom entity (a Diesel Generator) to the Energy Overview widget.\n\nThe ui-energy-overview node's **Custom Paths** field contains a full entity declaration (replace semantics):\n- Five default entities (solar, home, grid, battery, car) reusing default geometry\n- One custom entity: **generator** (direction: source) placed in the bottom-right area\n\nThe `generatorToInverter` route key is derived automatically from the entity name.\n\n**How to use:**\n1. Click \"Generator Running\" to start the diesel generator flow\n2. Click \"Generator Stopped\" to stop the generator\n3. Click \"Solar + Home (defaults)\" to verify the five default entities still animate\n4. Click \"Stop All\" to clear all flows\n\n**Custom Paths JSON structure:**\n```json\n{\n  \"entities\": { ... },\n  \"energyPaths\": { ... },\n  \"labels\": { ... }\n}\n```",
        "x": 200,
        "y": 60,
        "wires": []
    },
    {
        "id": "inject-generator-running",
        "type": "inject",
        "z": "generator-example-flow",
        "name": "Generator Running",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"routes\":{\"generatorToInverter\":true},\"labels\":{\"generator\":{\"value\":\"3.0 kW\",\"sublabel\":\"Running\"}}}",
        "payloadType": "json",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "generator-overview-node"
            ]
        ]
    },
    {
        "id": "inject-generator-stopped",
        "type": "inject",
        "z": "generator-example-flow",
        "name": "Generator Stopped",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"routes\":{\"generatorToInverter\":false},\"labels\":{\"generator\":{\"value\":\"0 kW\",\"sublabel\":\"Stopped\"}}}",
        "payloadType": "json",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "generator-overview-node"
            ]
        ]
    },
    {
        "id": "inject-solar-home",
        "type": "inject",
        "z": "generator-example-flow",
        "name": "Solar + Home (defaults)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"routes\":{\"solarToInverter\":true,\"inverterToHome\":true},\"labels\":{\"solar\":{\"value\":\"5.2 kW\",\"sublabel\":\"Producing\"},\"home\":{\"value\":\"2.1 kW\",\"sublabel\":\"Consuming\"}}}",
        "payloadType": "json",
        "x": 160,
        "y": 300,
        "wires": [
            [
                "generator-overview-node"
            ]
        ]
    },
    {
        "id": "inject-gen-stop-all",
        "type": "inject",
        "z": "generator-example-flow",
        "name": "Stop All",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "reset",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"routes\":{},\"labels\":{\"solar\":{\"value\":\"0 kW\",\"sublabel\":\"Idle\"},\"home\":{\"value\":\"0 kW\",\"sublabel\":\"Idle\"},\"generator\":{\"value\":\"0 kW\",\"sublabel\":\"Idle\"}}}",
        "payloadType": "json",
        "x": 130,
        "y": 360,
        "wires": [
            [
                "generator-overview-node"
            ]
        ]
    },
    {
        "id": "generator-overview-node",
        "type": "ui-energy-overview",
        "z": "generator-example-flow",
        "name": "Energy Overview (Generator)",
        "group": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "pulseColor": "#4dcbbf",
        "image": "",
        "customPaths": "{\"entities\":{\"solar\":{\"direction\":\"source\"},\"home\":{\"direction\":\"sink\"},\"grid\":{\"direction\":\"both\"},\"battery\":{\"direction\":\"both\"},\"car\":{\"direction\":\"both\"},\"generator\":{\"direction\":\"source\"}},\"energyPaths\":{\"solarToInverter\":\"M 427 295 L 484 332 L 484 533\",\"inverterToHome\":[\"M 513 532 L 513 445 L 808 451 L 810 549\",\"M 513 532 L 513 445 L 966 455\"],\"inverterToGrid\":\"M 451 631 L 401 631 L 403 821 L 449 848\",\"inverterToBattery\":\"M 499 649 L 499 748 L 594 742\",\"inverterToCar\":\"M 451 604 L 389 608 L 253 599 L 253 654\",\"generatorToInverter\":\"M 513 649 L 760 700 L 880 800\"},\"labels\":{\"solar\":{\"position\":\"M 608 41 L 608 300\",\"align\":\"top\",\"text\":\"SOLAR\"},\"home\":{\"position\":\"M 776 41 L 776 445\",\"align\":\"top\",\"text\":\"HOME\"},\"grid\":{\"position\":\"M 448 850 L 448 921\",\"align\":\"bottom\",\"text\":\"GRID\"},\"battery\":{\"position\":\"M 643 772 L 643 921\",\"align\":\"bottom\",\"text\":\"BATTERY\"},\"car\":{\"position\":\"M 103 820 L 103 921\",\"align\":\"bottom\",\"text\":\"CAR\"},\"generator\":{\"position\":\"M 880 810 L 880 921\",\"align\":\"bottom\",\"text\":\"GENERATOR\"}}}",
        "animationSpeed": 150,
        "trailLength": 120,
        "trailSpacing": 4,
        "fadeTime": 1600,
        "strokeWidth": 3.2,
        "labelFontSizes": "{\"value\":42,\"name\":32,\"sub\":32}",
        "labelSpacing": "{\"textOffset\":16,\"valueLabelGap\":8,\"labelSubGap\":10}",
        "x": 430,
        "y": 270,
        "wires": [
            []
        ]
    }
]
